{% extends 'base.html.twig' %}

{% block title %}About us{% endblock %}
{% block metaDescription %}Read about Northampton Home Letting company...{% endblock %}
{% block header %}
  {{ parent() }}
{% endblock %}

{% block aboutMenuLink %}active-menu{% endblock %}

{% block pageTitle %}Who we are and what we do{% endblock %}

{% block main %}
<noscript>
  <p>Your browser doesn't support JavaScript or you have disabled JavaScript.</p>
  <p>Please, download modern web browser or enable JavaScript in your browser</p>

  <div>Browsers: <a href="https://www.mozilla.com/">Firefox browser</a>,
  <a href="https://www.google.com/chrome/">Chrome browser</a>,
  <a href="https://www.opera.com/">Opera browser</a></div>
</noscript>

<section>
  <h2 class="simple-title"><span>Our History</span></h2>
  <article class="content-block about-us">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aut cupiditate dolor earum excepturi ipsam laboriosam odit optio qui veniam. Ad porro quis sint. Dicta exercitationem explicabo obcaecati quam? Inventore.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aut cupiditate dolor earum excepturi ipsam laboriosam odit optio qui veniam. Ad porro quis sint. Dicta exercitationem explicabo obcaecati quam? Inventore.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aut cupiditate dolor earum excepturi ipsam laboriosam odit optio qui veniam. Ad porro quis sint. Dicta exercitationem explicabo obcaecati quam? Inventore.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aut cupiditate dolor earum excepturi ipsam laboriosam odit optio qui veniam. Ad porro quis sint. Dicta exercitationem explicabo obcaecati quam? Inventore.</p>
  </article>
</section>
<section>
  <h2 class="simple-title"><span>Our services</span></h2>
  <div class="about-services">
    <article>
      <h3>Home letting</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit nobis delectus nihil, asperiores. A voluptas nulla ipsam quaerat dolores mollitia, in molestiae doloribus maxime vitae consectetur commodi, dolore ex! Optio!</p>
    </article>
    <article>
      <h3>Home letting</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit nobis delectus nihil, asperiores. A voluptas nulla ipsam quaerat dolores mollitia, in molestiae doloribus maxime vitae consectetur commodi, dolore ex! Optio!</p>
    </article>
    <article>
      <h3>Home letting</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit nobis delectus nihil, asperiores. A voluptas nulla ipsam quaerat dolores mollitia, in molestiae doloribus maxime vitae consectetur commodi, dolore ex! Optio!</p>
    </article>
  </div>
</section>
{% endblock %}
